@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
    background-color: rgb(63, 62, 62);
}

.navbar-brand img {
    width: 50px;
}

.sidebar {
    color: bisque;
    background-color: rgb(95, 93, 93);

}

.footer-text {
    color: beige;
}

footer {
    background-color: rgb(0, 0, 0);
}
 
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza {
    margin-left: 12.5%;
}

.card-img-top {
    height: 150px;
}

.pizza .card{
    height: 400px;
}

.nap {
    margin-left: 12.5%; 
}